:root{
    max-width: 1280px; 
    margin: 0 auto; 
    padding: 2rem; 
    text-align: center;
}


.checkbox:checked::before{
    content: ""; 
    width:  17px; 
    height: 17px; 
    display: block;
    padding: 5px; 
}